@import url(./global.css);

/* ------------------------ Header ------------------------ */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-options{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin: 56px 0px;
}

#active{
    color: var(--color-primary) !important;
}

.header-options-item{
    color: rgba(0, 0, 1, 0.6);
}

.header-options-item:hover{
    color: var(--color-primary);
    font-weight: bold;
}



.header-content{
    display: flex;
    margin: 40px 0px;
    gap: 24px;
    align-items: center;
}

.header-icons{  
    display: flex;
    gap: 16px;
    margin: 5.5px 0px;
    cursor: pointer;
}

.header-icons img{
    transition: 1s;
}
.header-icons img:hover{
    transform: translateY(-8px);
}

.header-content a{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 16px 32px;
    border-radius: 10px;
    font-weight: 600;
    transition: 1s;
}

.header-content a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-2px);
}


/* ------------------------ Fim Header ------------------------ */

/* ------------------------ Deliver Food ------------------------ */

.deliver{
    display: flex;
    gap: 124px;
    justify-content: space-evenly;
    align-items: center;
}

.deliver-container {
    width: 563px;
    height: 392px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 150px 0px 153px 0px;
    gap: 32px;
}

.deliver-container h1{
    font-size: 60px;
    /* font-family: 'Gilroy-Black', sans-serif; */
    /* font-weight: bolder(900); */
    line-height: 80px;
    color: var(--color-grey);    
}

.deliver-container h1 span{
    color: var(--color-primary);
}

.deliver-container p{
    color: rgba(0, 0, 1, 0.6);
    font-size: 18px;
    font-weight: 300;
    width: 487px;
    line-height: 160%;
    letter-spacing: 4.5%;
}

.deliver-buttons{
    /* margin-top: 32px; */
    /* gap: 24px;  Matheus não funcionou, então inserir margin-right no btn-order*/
}

#btn-order{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 24px;
}

#btn-explore{
    background-color: transparent;
    color: var(--color-primary);    
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--color-primary);
}

.deliver-image img{
    margin: 99px 0px 102px 0px;
    width: 651px;
    height: 494px;
}
/* ------------------------ Fim Deliver Food ------------------------ */