@import url(./global.css);

/* ------------------------ Header ------------------------ */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-options{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    margin: 56px 0px;
}

#active{
    color: var(--color-primary) !important;
}

.header-options-item{
    color: rgba(0, 0, 1, 0.6);
}

.header-options-item:hover{
    color: var(--color-primary);
    font-weight: bold;
}

.header-content{
    display: flex;
    margin: 40px 0px;
    gap: 24px;
    align-items: center;
}

.header-icons{  
    display: flex;
    gap: 16px;
    margin: 5.5px 0px;
    cursor: pointer;
}

.header-icons img{
    transition: 1s;
}
.header-icons img:hover{
    transform: translateY(-8px);
}

.header-content a{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 16px 32px;
    border-radius: 10px;
    font-weight: 600;
    transition: 1s;
}

.header-content a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-2px);
}


/* ------------------------ Fim Header ------------------------ */

/* ------------------------ Deliver Food ------------------------ */

.deliver{
    display: flex;
    /* gap: 124px; */
    justify-content: space-evenly;
    align-items: center;
}

.deliver-container {
    width: 563px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 150px 0px 153px 0px;
    gap: 32px;
}

.deliver-container h1{
    font-size: 60px;
    /* font-family: 'Gilroy-Black', sans-serif; */
    /* font-weight: 900;  Matheus... heeelp-me*/
    line-height: 80px;
    color: var(--color-grey);    
}

.deliver-container h1 span{
    color: var(--color-primary);
}

.deliver-container p{
    color: rgba(0, 0, 1, 0.6);
    font-size: 18px;
    font-weight: 300;
    width: 487px;
    line-height: 160%;
    letter-spacing: 4.5%;
}

.deliver-buttons{
    display: flex;
    gap: 24px;
}

#btn-order{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

#btn-explore{
    background-color: transparent;
    color: var(--color-primary);    
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--color-primary);
}

.deliver-image img{
    margin: 99px 0px 102px 0px;
    width: 651px;
    height: 494px;
}
/* ------------------------ Fim Deliver Food ------------------------ */

/* ------------------------ Choose Us ------------------------ */

.choose{
    background-color: var(--color-BG-Overlay);
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose h2{
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: var(--color-black);
}

.choose p{
    font-size: 18px;
    font-weight: 300;
    color: var(--color-gray);
    margin-top: 8px;
    letter-spacing: 4.5%;
}

.choose-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.choose-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px 40px 0px;
    /* gap: 20px; */
    box-sizing: border-box;
    width: 400px;
    height: 340px;
}

.choose-cards h3{
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
}

.choose-cards p{
    width: 275px;    
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.choose-cards img{
    width: 218px;
}

.choose-infos-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 400px;
}
.choose-infos-data h3{
    color: var(--color-black);
    font-size: 48px;
    font-weight: 900;
}

.choose-infos-data p{
    color: var(--color-gray);
}
/* ------------------------ Fim Choose Us ------------------------ */