@import url(./global.css);

/* ------------------------ Header ------------------------ */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-options{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    margin: 56px 0px;
}

#active{
    color: var(--color-primary) !important;
}

.header-options-item{
    color: rgba(0, 0, 1, 0.6);
}

.header-options-item:hover{
    color: var(--color-primary);
    font-weight: bold;
}

.header-content{
    display: flex;
    margin: 40px 0px;
    gap: 24px;
    align-items: center;
}

.header-icons{  
    display: flex;
    gap: 16px;
    margin: 5.5px 0px;
    cursor: pointer;
}

.header-icons img{
    transition: 0.4s;
}
.header-icons img:hover{
    transform: translateY(-4px);
}

.header-content a{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 16px 32px;
    border-radius: 10px;
    font-weight: 600;
    transition: 1s;
}

.header-content a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-2px);
}


/* ------------------------ Fim Header ------------------------ */

/* ------------------------ Deliver Food ------------------------ */

.deliver{
    display: flex;
    gap: 230px;
    justify-content: center;
    align-items: center;
}

.deliver-container {
    width: 614px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 75px 0px 75px 0px;
    gap: 32px;
}

.deliver-container h1{
    font-size: 60;
    /* font-family: 'Gilroy-Black', sans-serif !important; */
    font-weight: 900;
    line-height: 80px;
    color: var(--color-grey);
    width: 614px;   
}

.deliver-container h1 span{
    color: var(--color-primary);
}

.deliver-container p{
    font-size: 18px;
    font-weight: 300;
    width: 487px;
    line-height: 160%;
    letter-spacing: 4.5%;
}

.deliver-buttons{
    display: flex;
    gap: 24px;
}

#btn-order{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
}

#btn-order:hover{
    cursor: pointer;
    transform: translatey(-1px);
    box-shadow: 2px 5px 4px rgba(171, 190, 209, 0.60);
}

#btn-explore{
    background-color: transparent;
    color: var(--color-primary);    
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--color-primary);
    transition: 0.4s;
}

#btn-explore:hover{
    cursor: pointer;
    transform: translatey(-1px);
    box-shadow: 2px 5px 4px rgba(171, 190, 209, 0.60);
}

.deliver-image img{
    margin: 99px 0px 102px 0px;
    width: 451px;
}
/* ------------------------ Fim Deliver Food ------------------------ */

/* ------------------------ Choose Us ------------------------ */

.choose{
    background-color: var(--color-BG-Overlay);
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose h2{
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: var(--color-black);
}

.choose p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    letter-spacing: 4.5%;
}

.choose-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.choose-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px 40px 0px;
    box-sizing: border-box;
    width: 400px;
    height: 340px;
}

.choose-cards h3{
    font-size: 28px;
    font-weight: 600;
    font-family: "Gilroy-SemiBold"; /* pqp fonte */
    margin-top: 40px;
}

.choose-cards p{
    width: 275px;    
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.choose-cards img{
    width: 218px;
}

.choose-infos-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 400px;
}


.choose-infos-data h3{
    color: var(--color-black);
    font-size: 48px;
    font-family: "Gilroy-Black"; /* pqp fonte */
    font-weight: 900;
}

/* ------------------------ Fim Choose Us ------------------------ */

/* ------------------------ Special dishes ------------------------ */
.special-dishes{    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 60px; */
    padding: 100px;    
}

.special-dishes h2{
    font-size: 48px;
    font-weight: 900;
}

.special-container{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.special-card{
    width: 400px;
    height: 485px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-card p{
    width: 279px;
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.special-card h3{
    margin-top: 16px;
    font-weight: 900;
    font-size: 28px;
}

.special-card button{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 140px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.4s;
}

.special-card button:hover{
    cursor: pointer;
    transform: translatey(-1px);
    box-shadow: 2px 5px 4px rgba(171, 190, 209, 0.60);
}

.special-card img{
    height: 242px;
}
/* ------------------------ Fim Special dishes ------------------------ */

/* ------------------------ Customer Review ------------------------ */
.review{
    padding: 100px;
    background-color: var(--color-BG-Overlay);
    display: flex;
    flex-direction: column;
}

.review-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.review h2{
    font-size: 48px;
    font-weight: 900;
    color: var(--color-black);
}

.review p{
    font-size: 18px;
    font-weight: 300;    
}

.review-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;    
}
.review-container-card{
    width: 399px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--color-white);
    padding: 40px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(171, 190, 209, 0.30);
}

.review-container-card img{
    width: 100px;
}

.review-container-card h3{
    font-size: 28px;
    font-weight: 600;
    color: var(--color-black);
    margin-top: 24px;
}

.review-container-card p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    width: 319px;
    margin-top: 16px;    
}
/* ------------------------ Fim Customer Review ------------------------ */

/* ------------------------ About us ------------------------ */
.about-us{
    display: flex;
    gap: 100px;
    padding: 100px;
    justify-content: center;
}

.about-us img{
    width: 600px;
}

.about-container{
    width: 558px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-container h2{
    font-size: 40px;
    font-weight: 900;
    color: var(--color-black);
}

.about-container p{
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
}

.about-container button{
    padding: 16px 32px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    width: 167px;
    box-sizing: border-box;
    transition: 0.4s;
}

.about-container button:hover{
    cursor: pointer;
    transform: translatey(-1px);
    box-shadow: 2px 5px 4px rgba(171, 190, 209, 0.60);
}
/* ------------------------ Fim About us ------------------------ */

/* ------------------------ Contact ------------------------ */
.contact{
    background-color: var(--color-BG-Overlay);
    padding: 100px 326px;    
}
.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.contact-content-text{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.contact-content-text h2{
    color: var(--color-black);
    font-size: 48px;
    font-weight: 900;
}

.contact-content-text p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.contact-container{
    width: 711px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 24px;
}

.contact-container input{
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 1, 0.6);
}

.contact-container input:focus{
    outline: none;
}

.contact-container button{
    padding: 16px 32px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.contact-container button:hover{
    cursor: pointer;
    transform: translatey(-1px);
    box-shadow: 2px 5px 4px rgba(171, 190, 209, 0.60);
}
/* ------------------------ Fim Contact ------------------------ */

/* ------------------------ Footer ------------------------ */
footer{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px;
    align-items: center;
}

.footer-box{
    display: flex;
    gap: 175px;
    width: 1240px;
}

.footer-container-icons-itens{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 16px;
}

.footer-navigation{
    display: flex;
    gap: 240px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-container h2{
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-links a{
    color: var(--color-white);
    font-size: 18px;
    font-weight: 300;
}

.footer-links a:hover{
    border-bottom: 1px solid var(--color-white);
}

.footer-text{
    border-top: 1px solid var(--color-white);
    width: 1240px;
    display: flex;
    padding-top: 16px;
    justify-content: center;

}

.footer-text p{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 300;
}
/* ------------------------ Fim Footer ------------------------ */